.container {
  max-width: 80%;
  margin: 0 auto;
  backface-visibility: hidden;
  overflow: hidden;

  @include respond(large) {
    max-width: 100%;
  }
}

.summary {
  text-align: center;
  opacity: 1;
  transition: all 0.4s;
  font-size: 1.6rem;
}
