* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  background: linear-gradient(to bottom, #222222, #303030);
}

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  color: #fff;
  padding: 0 4rem;
}

@media screen and (max-width: 780px) {
  body {
    padding: 0;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.calendar__table {
  border-collapse: collapse;
  font-size: 1.4rem;
  min-width: 70rem;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .calendar__table {
    font-size: 1.2rem;
  }

}

.calendar__body {
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.calendar__table th {
  font-weight: bold;
  background-color: #ffa600;
  color: #000;
}

@-moz-document url-prefix() {
  .calendar__table td,
  .calendar__table th {
    background-clip: padding-box;
  }
}

.calendar__table td,
.calendar__table th {
  border: 1px solid black;
  text-align: center;
}

.calendar__table th {
  width: 12rem; 
  padding: 1rem 0;
}

.calendar__table th:nth-of-type(1) {
  min-width: 4rem;
}


.calendar__table td {
  background-color: #f9f9f9;
  color: #000;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.calendar__title {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: .3rem;
  text-align: center;
}

.btn {
  border: none;
  background: transparent;
  padding: 1.6rem;
  cursor: pointer;
}

.btn:focus,
.btn:active {
  outline: none;
}

.btn--arrow {
  font-size: 4rem;
  color: #00bd4f;
  transition: all .3s ease;
}

.btn--arrow:active,
.btn--arrow:hover {
  color: #ffa600;
}

.calendar__splitday {
  display: flex;
  flex-direction: column;
  position: relative;
}

.calendar__splitday--hours {
  justify-content: center;
  align-items: center;
  background-color: #00bd4f;
  font-weight: 700;
  letter-spacing: 2px;
}

.calendar__splitday--half {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__splitday--half:nth-of-type(1) {
  border-bottom: 1px solid black;
}

.calendar .calendar__day--empty {
  background-color: #d3d3d3;
  color: #f9f9f9;
  font-size: 4.2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.calendar__daynumber {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #0080d6;
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.calendar__day {
  height: 6rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.calendar__personholiday {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: rgb(199, 199, 199);
  font-size: 1.1rem;
}

.calendar__800 {
  border-bottom: 1px solid #dadada;
}

.calendar__selectable {
  position: relative;
  cursor: pointer;
}

.calendar__selectable::after {
  content: "+";
  cursor: pointer;
  font-size: 7.2rem;
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, #009e42, #00bd4f);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .3rem .6rem rgba(0,0,0,0.4);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.calendar__selectable:hover::after {
  opacity: 1;
  box-shadow: 0 .5rem .8rem rgba(0,0,0,0.4);
}

.calendar .calendar__weekend {
  background-color: #97eaff;
  position: relative;
}

.calendar .calendar__holiday {
  background-color: #ff6f6f;
  position: relative;
  color: #f9f9f9;
  font-size: 4.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,0.4);
}

@media screen and (max-width: 780px) {
  .calendar .calendar__holiday {
    font-size: 2.5rem;
  }

  .calendar .calendar__day--empty {
    font-size: 2.5rem;
  }
}

.calendar__holiday .calendar__800 {
  border-bottom: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  color: #000;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Modal Content/Box */
.modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  border-radius: .3rem;
  min-width: 500px; /* Could be more or less, depending on screen size */
  max-width: 40%;
  font-size: 1.8rem;
}

.modal__content select {
  font-size: 1.8rem;
}

/* The Close Button */

.modal__close {
  color: #aaa;
}

.modal__close:hover,
.modal__close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal__form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.modal__form-group label {
  flex-grow: 2;
}

.btn--save,
.btn--save:visited {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  background-color: #00bd4f;
  color: #fff;
  text-align: center;
  margin: 1rem 0 0 0;
  font-weight: 700;
  transition: all .2s ease;
}

.btn--save:active,
.btn--save:hover {
  background-color: #ffa600;
}

.calendar__footer {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
}

.btn--reset,
.btn--start {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: .5rem;
  transition: all .3s;
}

.btn--reset {
  background-color: #ffa600;
}

.btn--start {
  margin-left: 1rem;
  background-color: #0080d6;
}

.btn--start:hover {
  background-color: #0064a7;
}

.btn--start:disabled {
  background-color: #aadafa;
}

.btn--reset:hover {
  background-color: #d88c00;
}

.summary {
  text-align: center;
  opacity: 1;
  transition: all .4s;
  font-size: 1.6rem;
}

.summary-table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: .5rem;
  color: #000;
}

@media screen and (max-width: 780px) {
  .summary-table {
    width: 100%;
  }
}

.summary-table th {
  background-color: #0080d6;
  color: #fff;
}

.summary-table tr {
  background-color: #fff;
}

.summary-table tr:nth-of-type(even) {
  background-color: rgb(216, 216, 216);
}

.summary-table th,
.summary-table td {
  border: 1px solid #333;
}

.name {
  transition: all .3s;
}

.highlight {
  cursor: pointer;
  display: inline-block;
  padding: .2rem 1rem;
  border-radius: 10rem;
  background-color: #0080d6;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  transform: scale(1.07) translateY(-3px);
  transition: all .3s;
}


.summary-table tr.summary-table__row {
  transition: all .3s;
}
.summary-table tr.summary-table__row--highlight {
  background-color: #ffa600;
  transition: all .3s;
  border: none;
}

.hidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 1000px) {
  .calendar__table {
    font-size: 1.2rem;
  }

  .calendar__daynumber {
    display: none;
  }

  /* .calendar__personholiday {
    display: none;
  } */

  .highlight {
    padding: .1rem .5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 1.3rem;
  }

  #calendar__body > table tr > td:first-child,
  #calendar__body > table tr > th:first-child {
    position: sticky;
    outline: 1px solid #000;
    left: 0;
    z-index: 500;
  }

  .btn {
    font-size: 1.6rem;
  }

  .btn--arrow {
    font-size: 2.4rem;
  }

  .modal__content {
    min-width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
  }

  .modal__content select {
    font-size: 1.6rem;
  }

  .calendar__title {
    font-size: 2.4rem;
  }

  .btn--reset,
  .btn--start {
    width: 50%;
  }

  .calendar__table th {
    padding: 0;
  }

  .calendar__daynumber {
    width: 1.5rem;
    height: 1.5rem;
  }
}