* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --color-primary: #34495e;
  --color-primary-dark: #2c3e50;
  --color-secondary: #ecf0f1;
  --color-secondary-dark: #bdc3c7;
  --color-white: #fff;
  --color-green: #2ecc71;
  --color-green-dark: #27ae60;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html {
  font-size: 62.5%; /* 1 rem = 10px */
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  box-sizing: border-box;
  color: var(--color-primary-dark);
  min-height: 100vh;
  background-color: #f7f7f7;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}


.calendar__table {
  display: grid;
  grid-template-columns: 5% repeat(7, 13.57%);
  grid-template-rows: 5rem;
  grid-auto-rows: 14rem;
  font-size: 1.4rem;
  max-width: 100%;
}

.cell--header {
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-primary);
  border-right: 1px solid var(--color-primary);
}

.cell:first-child {
  border-left: 1px solid var(--color-primary);
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.calendar__title {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: .3rem;
  text-align: center;
}

.btn {
  border: none;
  background: transparent;
  padding: 1.6rem;
  cursor: pointer;
}

.btn:focus,
.btn:active {
  outline: none;
}

.btn--arrow {
  padding: 0;
  font-size: 4rem;
  color: var(--color-green);
  transition: all .3s ease;
}

.btn--arrow:active,
.btn--arrow:hover {
  color: var(--color-green-dark);
}

.calendar__day {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

.calendar__day--hours {
  background-color: var(--color-green);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 2px;
  width: 100%;
  height: 100%;
}

.calendar__day--half {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar__day--half:nth-of-type(even) {
  background-color: var(--color-green-dark);
}

.calendar .calendar__day--empty {
  background-color: #e74c3c;
  
  color: var(--color-white);
  font-size: 4.2rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.calendar__daynumber {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 400;
  font-size: 5rem;
  color: var(--color-primary-dark);
  opacity: .1;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.calendar__personholiday {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  color: var(--color-green-dark);
  font-size: 1.1rem;
}

.calendar__800, .calendar__930 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.calendar__930 {
  background-color: var(--color-secondary-dark);
}

.calendar__selectable {
  position: relative;
  cursor: pointer;
}

.calendar__selectable::after {
  content: "+";
  cursor: pointer;
  font-size: 6rem;
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .3rem .6rem rgba(0,0,0,0.4);
  opacity: 0;
  transition: all .3s ease-in-out;
  z-index: 100;
}

.calendar__selectable:hover::after {
  opacity: 1;
  box-shadow: 0 .5rem .8rem rgba(0,0,0,0.4);
}

.calendar .calendar__weekend {
  background-color: #2980b9;
  position: relative;
}

.calendar .calendar__weekend .calendar__daynumber{
  color: var(--color-secondary);
  opacity: .7;
}

.calendar .calendar__holiday {
  background-color: #e74c3c;
  position: relative;
  color: var(--color-secondary);
  font-size: 4.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0,0,0,0.4);
}

.calendar__holiday .calendar__800 {
  border-bottom: none;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  color: #000;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

/* Modal Content/Box */
.modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 1rem;
  border: 1px solid #888;
  border-radius: .3rem;
  min-width: 500px; /* Could be more or less, depending on screen size */
  max-width: 40%;
  font-size: 1.8rem;
}

.modal__content select {
  font-size: 1.8rem;
}

.modal__close {
  color: #aaa;
}

.modal__close:hover,
.modal__close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.modal__form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.modal__form-group label {
  flex-grow: 2;
}

.btn--save,
.btn--save:visited {
  text-decoration: none;
  display: block;
  padding: 1rem 2rem;
  background-color: #00bd4f;
  color: #fff;
  text-align: center;
  margin: 1rem 0 0 0;
  font-weight: 700;
  transition: all .2s ease;
}

.btn--save:active,
.btn--save:hover {
  background-color: #ffa600;
}

.calendar__footer {
  display: flex;
  justify-content: flex-end;
}

.btn--reset,
.btn--start {
  color: #fff;
  font-weight: 700;
  font-size: 1.8rem;
  border-radius: .5rem;
  transition: all .3s;
  margin-top: 1rem;
}

.btn--reset {
  background-color: #ffa600;
}

.btn--start {
  margin-left: 1rem;
  background-color: #0080d6;
}

.btn--start:hover {
  background-color: #0064a7;
}

.btn--start:disabled {
  background-color: #aadafa;
}

.btn--reset:hover {
  background-color: #d88c00;
}

.summary {
  text-align: center;
  opacity: 1;
  transition: all .4s;
  font-size: 1.6rem;
}

.summary-table {
  width: 40%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: .5rem;
  color: #000;
}

.summary-table th {
  background-color: #0080d6;
  color: #fff;
}

.summary-table tr {
  background-color: #fff;
}

.summary-table tr:nth-of-type(even) {
  background-color: rgb(216, 216, 216);
}

.summary-table th,
.summary-table td {
  border: 1px solid #333;
}

.name {
  transition: all .3s;
  position: relative;
  z-index: 30;
}

.calendar__800 .name:not(:last-child)::after,
.calendar__930 .name:not(:last-child)::after {
  content: ", ";
  white-space: pre;
}

.highlight {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background-color: #0080d6;
  border-radius: 5rem;
  padding: .2rem 1rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
  transform: translateY(-3px);
  transition: all .3s;
}

.summary-table tr.summary-table__row {
  transition: all .3s;
}
.summary-table tr.summary-table__row--highlight {
  background-color: #ffa600;
  transition: all .3s;
  border: none;
}

.hidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

@media screen and (max-width: 1380px) {
  .container {
    max-width: 100%;
  }
  .calendar__table {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1070px) {
  .calendar__800, .calendar__930 { 
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .calendar__daynumber {
    font-size: 4rem;
  }

  .calendar .calendar__holiday {
    font-size: 4rem;
  }

  .calendar .calendar__day--empty {
    font-size: 4rem;
  }

  .highlight {
    padding: .1rem .5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    transform: none;
  }
}

@media screen and (max-width: 800px) { 
  .calendar__table {
    grid-template-columns: 7% repeat(7, 13.28%);
  }
}

@media screen and (max-width: 780px) {
  .container {
    max-width: 100%;
  }

  .summary-table {
    width: 100%;
  }

  .calendar .calendar__holiday {
    font-size: 2.5rem;
  }

  .calendar .calendar__day--empty {
    font-size: 2.5rem;
  }

  .calendar__daynumber {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .calendar__table {
    grid-template-rows: 20rem;
    grid-auto-rows: 20rem;
    grid-template-columns: 100%;
    row-gap: 2rem;
  }

  .cell--hours {
    display: none;
  }

  .calendar__day--empty {
    display: none;
  }

  .calendar__weekend {
    display: none;
  }

  .calendar__daynumber {
    display: none;
  }

  .cell--header {
    display: none;
  }

  .cell {
    position: relative;
  }

  .calendar__800,
  .calendar__930 {
    position: relative;
    flex-direction: row;
    font-size: 1.6rem;
    padding-left: 30%;
    justify-content: flex-start;
  }

  .calendar__800 {
    margin-top: 4rem;
  }

  .calendar__800::before {
    content: "8:00";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--color-green);

  }

  .calendar__930::before {
    content: "9:30";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--color-green-dark);
  }

  .calendar .calendar__holiday {
    padding-top: 4rem;
    font-size: 5rem;
  }

  .cell::before {
    content: attr(data-realdate) ' ' attr(data-dayname);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 700;
  }

  .calendar__selectable::after {
    transform: translate(0, -30%);
  }

  .calendar__personholiday {
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
  }

  .btn {
    font-size: 1.6rem;
  }

  .btn--arrow {
    font-size: 2.8rem;
  }

  .modal__content {
    min-width: 90%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
  }

  .modal__content select {
    font-size: 1.6rem;
  }

  .calendar__title {
    font-size: 2.4rem;
  }

  .btn--reset,
  .btn--start {
    width: 50%;
  }
}